.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex !important;
  flex-direction: row !important;
  font-size: calc(10px + 2vmin);
  justify-content: space-evenly;
  align-items: center;
  background-color: #282c34;
  color: #fff;
  padding: 10px;
  flex-wrap: nowrap;
}
.menu{
  display: flex;
    gap: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.App-content img {
  height: 400px;
  width: max-content;
}

.wrap-btn {
  margin-left: 70%;
  position: absolute;
}

span {
  margin-left: 75%;
  margin-top: 5px;
}

.weatherLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherTemp::after,
.weatherFeelsLike::after {
  display: inline-block;
  margin-left: 5px;
  content: "℃";
}

label {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .App-header {
    display: flex;
    align-items: flex-start;
    color: rgb(253, 251, 251);
    background-color: transparent;
    font-size: calc(12px + 2vmin);
    padding: 15px;
    height: 60px;
  }

  .hamburger-menu {
    position: relative;
    width: 30px;
    height: 27px;
    left: -135px;
  }

  .hamburger-menu label {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
    margin-left: 0;
  }

  .hamburger-menu span:nth-child(1) {
    top: 0;
  }

  .hamburger-menu span:nth-child(2),
  .hamburger-menu span:nth-child(3) {
    top: 9px;
  }

  .hamburger-menu span:nth-child(4) {
    bottom: 0;
  }

  .hamburger-menu input {
    display: none;
  }

  .hamburger-menu input:checked ~ span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger-menu input:checked ~ span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu input:checked ~ span:nth-child(3) {
    transform: rotate(0deg) translate(0px, 0px);
  }

  .hamburger-menu input:checked ~ .menu {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 10px;
    background: #000000b8;
  }

  .menu.is-open {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    width: 100%;
    gap: 35px;
  }

  .App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .wrap-btn {
    margin-left: 70%;
    margin-top: -525px;
    position: absolute;
  }

  .App-content img {
    height: 350px;
    width: 300px;
    margin-bottom: 7px;
  }

  .blurred {
    opacity: 0.2;
    pointer-events: none; 
  }

  label {
    display: inline-block !important;
  }

}
